.App {
  text-align: center;
  background: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.title {
  font-size: calc(10px + 2vmin);
}

table, td, th {
  border: 1px solid white;
}

td {
  padding: 5px 10px;
}

.profit {
  color: rgb(31, 160, 31);
}

.loss {
  color: rgb(221, 49, 49);
}

